<nav class="navbar bg-body-tertiary fixed-navbar py-2">
  <div class="container justify-content-center">
    <div class="row w-100">
      <div class="col-2 m-auto">
        <%= link_to friendly_game_path do %>
          <%= image_tag '/assets/back-button.png' , alt: 'back-btn' , width: 20 %>
        <% end %>
      </div>
      <div class="col-8 text-center">
        <a class="navbar-brand m-auto text-center" href="#">
          <img src="/assets/tipsy-bg.png" alt="tipsy-logo" width="100">
        </a>
      </div>
      <div class="col-2">

      </div>
    </div>
  </div>
</nav>